<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"    content="width=device-width, initial-scale=1"/>
    <meta name="description" content="<%= yield(:desc) %>" />
    <meta name="keywords"    content="Ruby Rails ガイド 体系的 入門 無料" />
    <meta name="author"      content="Ruby on Rails Community" />
    <link rel="author" type="text/plain" href="https://railsguides.jp/humans.txt" />

    <meta property="fb:admins"      content="715330868" />
    <meta property="fb:app_id"      content="614116885378153" />
    <meta property="og:title"       content="Ruby on Rails ガイド：体系的に Rails を学ぼう"/>
    <meta property="og:site_name"   content="Ruby on Rails ガイド：体系的に Rails を学ぼう"/>
    <meta property="og:image"       content="https://railsguides.jp/images/cover_for_facebook.png"/>
    <meta property="og:url"         content="https://railsguides.jp/" />
    <meta property="og:type"        content="article" />
    <meta property="og:description" content="<%= yield(:desc) %>" />

    <meta name="twitter:card"  content="summary" />
    <meta name="twitter:site"  content="@RailsGuidesJP" />
    <meta name="twitter:title" content="Ruby on Rails ガイド：体系的に Rails を学ぼう" />
    <meta name="twitter:description" content="<%= yield(:desc) %>" />
    <meta name="twitter:image" content="https://railsguides.jp/images/cover_for_twitter.png" />
    <meta name="twitter:url"   content="https://railsguides.jp/" />

    <title><%= yield(:page_title) || 'Ruby on Rails ガイド：体系的に Rails を学ぼう' %></title>
    <meta name="apple-mobile-web-app-title" content="Railsガイド" />
    <meta name="application-name"           content="Railsガイド" />

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="stylesheets/rouge_highlight_github.css" />


    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="apple-touch-icon" sizes="57x57"   href="images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"   href="images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"   href="images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"   href="images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16"    href="images/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32"    href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"    href="images/favicons/favicon-96x96.png">
    <link rel="manifest"  href="manifest.json">
    <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#b61c0f">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script type="text/javascript" src="javascripts/lazysizes.min.js"></script>
  </head>

  <body class="guide">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=614116885378153&version=v2.0";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
    </script>
    <% if @edge %>
      <!--
     <div>
     <img src="images/edge_badge.png" alt="edge-badge" id="edge-badge" />
     </div>
      -->
    <% end %>

    <!--
    <div id="topNav">
      <div class="wrapper">
        <strong class="more-info-label">関連サイト: </strong>
        <span class="red-button more-info-button">関連URL</span>
        <ul class="more-info-links s-hidden">
          <li class="more-info"><a href="http://guides.rubyonrails.org/">原著 (英語)</a></li>
          <li class="more-info"><a href="https://github.com/yasslab/railsguides.jp">ソースコード (GitHub)</a></li>
          <li class="more-info"><a href="https://railstutorial.jp/">Railsチュートリアル</a></li>
        </ul>
      </div>
    </div>
    -->

    <div id="header">
      <div class="wrapper clearfix">
        <h1><a href="/" title="ホームに戻る">Rails ガイド</a></h1>
        <ul class="nav">
          <li class="guides-index guides-index-large">
            <a href="/" id="guidesMenu" class="guides-index-item nav-item">ガイド目次</a>
            <div id="guides" class="clearfix" style="display: none;">
              <hr />
              <div class='guides-scroll'>
              <% ['L', 'R'].each do |position| %>
                <dl class="<%= position %>">
                  <% docs_for_menu(position).each do |section| %>
                    <dt><%= section['name'] %></dt>
                      <% finished_documents(section['documents']).each do |document| %>
                        <dd><a href="<%= document['url'] %>"><%= document['name'] %></a></dd>
                      <% end %>
                  <% end %>
                </dl>
              <% end %>
              </div>
            </div>
          </li>
          <li><a class="nav-item" href="/contributing_to_ruby_on_rails.html">貢献する</a></li>
          <li><a class="nav-item" href="https://railsguides.jp/ebook">電子書籍</a></li>
          <li><a class="nav-item" href="https://railsguides.jp/pro">Proプラン</a></li>
          <li class="guides-index guides-index-small">
            <select class="guides-index-item nav-item">
              <option value="/">ガイド目次</option>
              <% docs_for_menu.each do |section| %>
                <optgroup label="<%= section['name'] %>">
                  <% finished_documents(section['documents']).each do |document| %>
                    <option value="<%= document['url'] %>"><%= document['name'] %></option>
                  <% end %>
                </optgroup>
              <% end %>
            </select>
          </li>
        </ul>
      </div>
    </div>

    <hr class="hide" />

    <% if yield(:i_am_top).present? %>
    <div id="feature" class="top">
    <% else %>
    <div id="feature">
    <% end %>

      <div class="wrapper">
        <%= yield :header_section %>
        <%= yield :index_section %>
      </div>
    </div>

    <div id="container">
      <div class="wrapper">
        <div id="mainCol">
          <%= yield.html_safe %>
          <%= yield :references %>

          <% if yield(:markdown_path_on_github).present? %>
            <p id="mdEditLink" style="font-size: 1.1428em; text-align: right;">
              <%= link_to '🖋 GitHubで編集を提案する', yield(:markdown_path_on_github) %>
            </p>
          <% end %>

          <% unless yield(:hide_feedback).present? %>
            <h3 id="feedback" class="section" style="padding-top: 30px;"><a href="#feedback">フィードバックについて</a></h3>
            <p>
              Railsガイドは GitHub の <%= link_to 'yasslab/railsguides.jp', 'https://github.com/yasslab/railsguides.jp' %> で管理・公開されております。本ガイドを読んで気になる文章や間違ったコードを見かけたら、気軽に <%= link_to 'Pull Request', 'https://github.com/yasslab/railsguides.jp/pulls?q=is%3Apr' %> を出して頂けると嬉しいです。Pull Request の送り方については <%= link_to 'GitHub の README', 'https://github.com/yasslab/railsguides.jp#readme'%> をご参照ください。
            </p>
            <p>
              原著における間違いを見つけたら『<%= link_to 'Rails のドキュメントに貢献する', '/contributing_to_ruby_on_rails.html#rails%E3%81%AE%E3%83%89%E3%82%AD%E3%83%A5%E3%83%A1%E3%83%B3%E3%83%88%E3%81%AB%E8%B2%A2%E7%8C%AE%E3%81%99%E3%82%8B' %>』を参考にしながらぜひ <%= link_to 'Rails コミュニティ', 'https://rubyonrails.org/community/' %>に貢献してみてください 🛠💨✨
            </p>
            <p>
              本ガイドの品質向上に向けて、皆さまのご協力が得られれば嬉しいです。
            </p>
            <p style="text-align: right">
	      Railsガイド運営チーム (<%= link_to '@RailsGuidesJP', 'https://twitter.com/RailsGuidesJP', target: '_blank', rel: 'noopener' %>)
            </p>

            <h3 id="supporters" class="section" style="padding-top: 30px;"><a href="#supporters">支援・協賛</a></h3>
            <p>
              Railsガイドは下記のサポーターから継続的な支援を受けています。支援・協賛にご興味あれば<a href='https://railsguides.jp/sponsors'>協賛プラン</a>から気軽にお問い合わせいただけると嬉しいです。
            </p>

            <div class="footer-bnr">
              <div class="bnr-item" id='footer-smarthr'>
                <a href="https://smarthr.co.jp/recruit/" target="_blank" rel="noopener">
                  <img src="/images/logos/smarthr.png" alt="SmartHR" />
                </a>
              </div>
              <div class="bnr-item-text" id='footer-smarthr-text'>
                <h4><a href="https://smarthr.co.jp/" target="_blank" rel="noopener">株式会社SmartHR</a></h4>
                <p><a href='https://smarthr.jp/' target='_blank' rel='noopener'>クラウド人事労務ソフト「SmartHR」</a>を運営する私たちは、プロダクトの「これから」を一緒に作る仲間を探しています。登録社数の増加・利用企業規模の拡大とともに、開発アイテムも増加の一途です。コアタイムなし、フルリモートワークOKの環境で、<a href='https://hello-world.smarthr.co.jp/' target='_blank' rel='noopener'>私たちと一緒に働きませんか？</a></p>
              </div>
            </div>

            <div class="footer-bnr">
              <div class="bnr-item" id='footer-carbon'>
                <a href="https://www.carbonads.net/" target="_blank" rel="noopener">
                  <img src="/images/logos/carbon_square.png" alt="Carbon" />
                </a>
              </div>
              <div class="bnr-item-text" id='footer-carbon-text'>
                <h4><a href="https://www.carbonads.net/" target="_blank" rel="noopener">Carbon - Reach Creators and Developers at Scale</a></h4>
                <p>LaravelやVue.jsなどでも採用されている『<a href='https://www.carbonads.net/open-source' target='_blank' rel='noopener'>Carbon Ads for Open Source</a>』を<a href='https://railsguides.jp/'>Railsガイド</a>向けに提供していただいております (<a href='https://note.com/yasslab/n/n4afda49ed786' target='_blank' rel='noopener'>note記事</a>)。また同社から許諾をいただき、法人向け『<a href='https://railsguides.jp/sponsors'>Railsガイド協賛プラン</a>』も合わせて提供しております。</p>
              </div>
            </div>

            <!--
            <div class="footer-bnr">
              <div class="bnr-item" id='footer-yasslab'>
                <a href="https://yasslab.jp/" target="_blank" rel="noopener">
                  <img src="/images/logos/yasslab_square.png" alt="YassLab" />
                </a>
              </div>
              <div class="bnr-item-text" id='footer-yasslab-text'>
                <h4><a href="https://yasslab.jp/" target="_blank" rel="noopener">YassLab 株式会社</a></h4>
                <p><a href="https://railstutorial.jp/" target="_blank" rel="noopener">Ruby on Railsチュートリアル</a>や<a href="/">Ruby on Railsガイド</a>を運営しているチームです。全国200カ所以上ある子供のためのプログラミング道場「CoderDojo」のWebサイト（<a href="https://coderdojo.jp/" target="_blank" rel="noopener">coderdojo-japan/coderdojo.jp</a>）も開発しています。</P>
              </div>
            </div>
            -->

            <!--
            <div class="footer-bnr">
              <div class="bnr-item" id='footer-carbonads'>
                <a href="https://www.carbonads.net/open-source?utm_source=railsguide&utm_medium=banner&utm_campaign=supporter" target="_blank" rel="noopener">
                  <img class="border lazyload" alt="Advertising For Open Source Projects | Carbon Ads" src="/images/spinner.svg" data-src="/images/logos/carbon.gif" loading="lazy" />
                </a>
              </div>
              <div class="bnr-item" id='footer-sponsors'>
                <a href="https://railsguides.jp/sponsors"><img alt="協賛プラン" src="/images/spinner.svg" data-src="/images/logos/bnr-kyosan.gif" loading="lazy" class="lazyload" /></a>
              </div>
            </div>
            -->
          <% end %>

          <ol class="snsb" style="padding-top: 50px;">
            <li style='padding-right: 8px;'><a class="github-button" href="https://github.com/yasslab/railsguides.jp" data-icon="octicon-star" data-show-count="true" aria-label="Star yasslab/railsguides.jp on GitHub">Star</a></li>
            <li style='padding-right: 8px;'><a href="https://b.hatena.ne.jp/entry/s/railsguides.jp" class="hatena-bookmark-button" data-hatena-bookmark-title="Ruby on Rails ガイド：体系的に Rails を学ぼう" data-hatena-bookmark-layout="simple-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
            <li><a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-hashtags="Railsガイド" data-via="RailsGuidesJP" data-related="RailsGuidesJP,YassLab" lang="ja" width="80"></a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
            <li><div class="fb-like" data-href="https://railsguides.jp/" data-width="225" data-layout="button_count" data-action="like" data-share="false"></div></li>
          </ol>
        </div><!--//mainCol-->
      </div><!--//wrapper-->
    </div><!--//container-->

    <hr class="hide" />

    <div id="footer">
      <ul class="footer-cover">
        <li class="footer-contents-li">
          <a href="/"><img src="/images/railsguides.png" alt="Railsガイド" style="width: 50%;"></a>
          <p style='font-size: 12px;'>Railsガイドの<a href="https://github.com/yasslab/railsguides.jp/tree/master/guides/source" target="_blank" rel="noopener">コンテンツ部分</a>は <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.ja" target="_blank" rel="noopener">CC BY-SA 4.0</a> に基づいて公開されています。『Rails』や『Ruby on Rails』という名称、ならびに Rails のロゴ画像は DHH の登録商標です。本サイトのロゴ画像などの一部は YassLab 社の著作物です。</p>
          <ul class="footer-sns-list">
            <li class="footer-sns-list__item"><a href="https://twitter.com/RailsGuidesJP" target=_blank" rel="noopener"><i class="fa fa-twitter-square fa-2x" aria-hidden="true" title="Twitter"></i></a></li>
            <li class="footer-sns-list__item"><a href="https://www.facebook.com/yasslab.jp" target=_blank" rel="noopener"><i class="fa fa-facebook-square fa-2x" aria-hidden="true" title="Facebook"></i></a></li>
            <li class="footer-sns-list__item"><a href="https://github.com/yasslab/railsguides.jp" target=_blank" rel="noopener"><i class="fa fa-github-square fa-2x" aria-hidden="true" title="GitHub"></i></a></li>
            <li class="footer-sns-list__item"><a href="https://note.com/yasslab/m/ma5df1164c798" target=_blank" rel="noopener"><i class="fa fa-rss-square fa-2x" aria-hidden="true" title="note"></i></a></li>
          </ul>
        </li>
        <li class="footer-contents-li">
          <h4 class="footer-h4">サービス</h4>
          <ul class="footer-contents-links">
            <li><%= link_to '電子書籍',   'https://railsguides.jp/ebook' %></li>
            <li><%= link_to 'Proプラン',  'https://railsguides.jp/pro' %></li>
            <li><%= link_to '協賛プラン', 'https://railsguides.jp/sponsors' %></li>
          </ul>
        </li>
        <li class="footer-contents-li">
          <h4 class="footer-h4">運営に関する情報</h4>
          <ul class="footer-contents-links">
            <li><%= link_to '運営会社', 'https://yasslab.jp/ja/', target: '_blank', rel:'noopener' %></li>
            <li><%= link_to '利用規約', 'https://railsguides.jp/term-of-service' %></li>
            <li><%= link_to '特定商取引法に基づく表記', 'https://railsguides.jp/policy' %></li>
            <li><%= link_to 'プライバシーポリシー', 'https://yasslab.jp/ja/privacy', target: '_blank', rel:'noopener' %></li>
            <li><%= link_to 'お問い合わせ', 'https://railsguides.jp/contact' %></li>
          </ul>
        </li>
      </ul>
    </div>

    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/responsive-tables.js"></script>
    <script type="text/javascript" src="javascripts/guides.js"></script>
    <script type="text/javascript"> $(guidesIndex.bind); </script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
